*{margin: 0; padding: 0;}

.titulo-serie{
    font-size: 27px;
    text-align: center;
    font-family: 'Slabo 27px', serif;
}

.genero-serie{
    font-size: 16px;
    color: #A9A4A4;
    text-align: center;
}

.capa-serie{
    border-radius: 5px;
    display: block;
    margin: 7px auto;
}

.btn-leiamais{
    background-color: #C0392B;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    display: block;
    border: 0;
    margin: 0 auto;
    width: 80%;
}

.box-container{    
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
 
.box-serie{
    box-sizing: border-box; /*reset*/
    width: 300px;
    padding: 10px;
}

h1{
    font-size: 20px;
    color: #A9A4A4;
    padding: 10px;
}